{% extends 'base.html' %}
{%block title%}
Home
{%endblock%}

{%block content%}
    {% if auction %}
        <div class = "text-content content">
        {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                <div class="container" style="margin-top: 2%">
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            <div class="container shadow bg-dark rounded product-container" style="margin-top: 2%;">
                  <div class="row" style="margin-right: 2%">
                      <div class="col-md-3" style="margin-left: 2%; margin-top: 2%">
                          <a href={{ auction.link }}><img src={{ auction.link }}></a>
                      </div>
                      <div class="col-lg prod-content-container container" style="margin-bottom: 2%">
                          <div class="row product-title">
                              <h3><b>{{ auction.name }}</b> </h3>
                              <hr class="rounded-title">
                              <h4><b>Price: {{ auction.price }}zł</b></h4>
                              <h4><b>Highest bid: {{ auction.highest_bid }}zł </b></h4>
                          </div>
                          <div class="row">
                                  <div class="bidding-desc">
                                      <h5><b>Auctioneer: {{ auction.owner_username }}</b></h5>
                                      <h5><b>Description: {{ auction.desc }}</b></h5>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="bidding-desc">
                                      <div id="timeleft" data-auction_end="{{ auction.auction_end }}">
                                          <h5><b>Time left: </b></h5>
                                      </div>
                                  </div>
                              </div>
                          <div class="row">
                              <div class="col"></div>
                              <div class="col"></div>
                              <div class="col">
                                  {% if user.is_authenticated and (not is_expired) and (user.get_id()|int != auction.uid) %}
                                  <form class="form-popup" method="POST" action="#" id="myForm">
                                    <dl>
                                        {{ form.csrf_token }}
                                        {{form.price.label}} <br>
                                        {{form.price}} <br>

                                    <div class="buttons">
                                        <button class="btn btn-large btn-login" type="submit">Bidding Time</button>
                                    </div>
                                    </dl>
                                    </form>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
             </div>
        <div class="container shadow bg-dark rounded product-container" style="margin-top: 2%; margin-bottom: 2%">
              <div class="row" style="margin-right: 2%">
                  <div class="col-lg prod-content-container container">
                      <div class="bidding-history" style="margin-top: 2%">
                      <h3><b>Bidding history</b> </h3>
                          {% if bids %}
                              <table class="table table-striped">
                                <thead><tr><th>Date and time</th><th>Username</th><th>Price</th></tr></thead>
                                <tbody>
                                    {% for bid in bids %}
                                        <tr><td>{{ bid.date.strftime('%d-%m-%Y, %H:%M') }}</td><td>{{ bid.bidder_username }}</td><td>{{ bid.price }}</td></tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                          {% endif %}
                      </div>
                  </div>
              </div>
             </div>
        </div>
    {% endif %}
    <script>
        let countDownDateElement = document.getElementById('timeleft')
          let countDownDateString = countDownDateElement.getAttribute('data-auction_end');
          let countDownDate = Date.parse(countDownDateString);
          let x = setInterval(function() {
            // Get today's date and time
            let now = new Date().getTime();

            // Find the distance between now and the count down date
            let distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            if (days<1){
                countDownDateElement.innerHTML = '<h5><b>Time left: '+ hours + ' hours ' + minutes + ' min </b></h5>';
            } else if(days < 2){
                countDownDateElement.innerHTML = '<h5><b>Time left: '+ days + ' days ' + hours + ' hours </b></h5>';
            clearInterval(x);
            }else{
                countDownDateElement.innerHTML = '<h5><b>Time left: '+ days + ' days </b></h5>';
            clearInterval(x);
            }

            // If the count down is finished, write some text
            if (distance < 0) {
            clearInterval(x);
                countDownDateElements[i].innerHTML = "EXPIRED";
            }
            }, 1000);
    </script>
{%endblock%}