{% extends 'base.html' %}
{%block title%}
Home
{%endblock%}

{%block content%}
    {% if auctions %}
        <div class = "text-content content" style="margin-bottom: 2%;">
        {% for auction in auctions %}
                <div class="container shadow bg-dark rounded product-container" style="margin-top: 2%;">
                      <div class="row" style="margin-right: 2%">
                          <div class="col-md-3" style="margin-left: 2%; margin-top: 2%">
                              <a href={{ auction.link }}><img src={{ auction.link }}></a>
                          </div>
                          <div class="col-lg prod-content-container container">
                              <div class="row product-title">
                                  <h3><b>{{ auction.name }}</b> </h3>
                                  <hr class="rounded-title">
                                  <h4><b>Starting price: {{ auction.price }}zł </b></h4>
                                  <h4><b>Highest bid: {{ auction.highest_bid }}zł </b></h4>
                              </div>
                              <div class="row">
                                  <div class="bidding-desc">
                                      <h5><b>Auctioneer: {{ auction.owner_username }}</b></h5>
                                      <h5><b>Description: {{ auction.desc }}</b></h5>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="bidding-desc">
                                      <div class="timeleft" data-auction_end="{{ auction.auction_end }}">
                                          <h5><b>Time left: </b></h5>
                                      </div>
                                  </div>
                              </div>
                              <div class="row product-buttons">
                                  <a href="/auction/{{ auction.aid }}"><button class="btn btn-lg btn-product-pink">See auction</button></a>
                              </div>
                          </div>
                      </div>
                 </div>

        {% endfor %}
        </div>
    {% endif %}
    <script>
    let countDownDateElements = document.getElementsByClassName('timeleft');

    for (let i = 0; i < countDownDateElements.length; i++) {
      let countDownDateString = countDownDateElements[i].getAttribute('data-auction_end');
      let countDownDate = Date.parse(countDownDateString);
      let x = setInterval(function() {
        // Get today's date and time
        let now = new Date().getTime();

        // Find the distance between now and the count down date
        let distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        let days = Math.floor(distance / (1000 * 60 * 60 * 24));
        let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((distance % (1000 * 60)) / 1000);

        if (minutes < 1)
            countDownDateElements[i].innerHTML = '<h5><b>Time left: '+ seconds + ' seconds </b></h5>';
        else if (days<1){
            countDownDateElements[i].innerHTML = '<h5><b>Time left: '+ hours + ' hours ' + minutes + ' min </b></h5>';
        } else if(days < 2){
            countDownDateElements[i].innerHTML = '<h5><b>Time left: '+ days + ' days ' + hours + ' hours </b></h5>';
        clearInterval(x);
        }else{
            countDownDateElements[i].innerHTML = '<h5><b>Time left: '+ days + ' days </b></h5>';
        clearInterval(x);
        }
        if (distance <= 0) {
            countDownDateElements[i].innerHTML = "<h5><b>EXPIRED</b></h5>";
            clearInterval(x);
        }
      }, 1000);
}
</script>
{%endblock%}