{% extends 'base.html' %}
{%block title%}
Login
{%endblock%}

{%block content%}
    <div id="content" class="d-flex align-items-center justify-content-center">
        <div class="card text-center">
            <div class="card-body">
                {% if form.errors %}
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <form class="forms" method="POST" action="#">
                {{ form.csrf_token }}
                {{ form.name.label }} <br>
                {{ form.name }} <br>
                {{ form.auction_end.label }} <br>
                <div>{{ form.auction_end }} {{ form.auction_end_time }}</div> <br>
                {{ form.price.label }} <br>
                {{ form.price }} <br>
                {{ form.description.label }} <br>
                {{ form.description(rows="4") }} <br>
                {{ form.img_link.label }} <br>
                {{ form.img_link }} <br>

                <div class="buttons">
                    <button class="btn btn-large btn-login" type="submit">Add item</button>
                    </p>
                </div>
                </form>
            </div>
        </div>
    </div>
{%endblock%}